@font-face {
  font-family: "SevenOneEight_1";
  src: url(fonts/SevenOneEight-Black.ttf) format("truetype");
}
@font-face {
  font-family: "SevenOneEight_2";
  src: url(fonts/SevenOneEight-Book.ttf) format("truetype");
}
@font-face {
  font-family: "SevenOneEight_3";
  src: url(fonts/SevenOneEight-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "SevenOneEight_4";
  src: url(fonts/SevenOneEight-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SevenOneEight_5";
  src: url(fonts/SevenOneEight-Medium.ttf) format("truetype");
}
html, body {
  margin: 0 auto;
  background-color: #efefef;
  font-family: "SevenOneEight_2";
  height: 100%;
  width: 100%;
}

header {
  margin: 2.5rem 0 3rem;
  text-align: center;
  text-transform: uppercase;
}
header:after {
  content: "";
  display: block;
  height: 5px;
  width: 100px;
  margin: 0 auto;
  background: #000;
}
header h1 {
  color: #d92e22;
  font-family: "SevenOneEight_3";
}
header h2 {
  color: #333333;
  font-family: "SevenOneEight_4";
}

section.container {
  padding: 0 0 110px;
}
section.container .sliderContainer {
  position: relative;
  width: 700px;
  height: 366px;
  margin: 0 auto 3rem;
}
section.container .sliderContainer #sliderContent {
  background: #000;
  border-radius: 30px;
}
section.container .sliderContainer #sliderContent .sliderArrow {
  position: absolute;
  top: 43%;
  background: url(./images/arrow.png) no-repeat;
  height: 72px;
  width: 72px;
  cursor: pointer;
}
section.container .sliderContainer #sliderContent .sliderArrow#sliderArrow_left {
  left: 0;
  transform: rotate(180deg);
}
section.container .sliderContainer #sliderContent .sliderArrow#sliderArrow_right {
  right: 0;
}
section.container .sliderContainer #sliderContent .sliderListContainer {
  margin: auto;
  width: 700px;
  height: 366px;
  border-radius: 10px;
  overflow: hidden;
}
section.container .sliderContainer #sliderContent .sliderListContainer .sliderListContent {
  float: left;
  height: 366px;
  width: 3000px;
}
section.container .sliderContainer #sliderContent .sliderListContainer .sliderListContent > * {
  float: left;
}
section.container .row {
  margin: 0 0 20px;
}
section.container .row .col-sm {
  padding: 0 10px;
}
section.container .row .col-sm:first-child {
  padding-left: 0;
}
section.container .row .col-sm:last-child {
  padding-right: 0;
}
section.container .row .col-sm a {
  display: block;
}
section.container .row .col-sm a:hover {
  text-decoration: none;
}
section.container .row .col-sm a .bgImg {
  background: #333;
}
section.container .row .col-sm a .bgImg img {
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
section.container .row .col-sm a .bgImg:hover img {
  opacity: 0.3;
}
section.container .row .col-sm .txtImg {
  display: block;
  position: absolute;
  right: 15px;
  top: 165px;
  color: #fff;
  text-transform: uppercase;
  font-family: "SevenOneEight_1";
}
section.container .row .col-sm .infosImg {
  padding: 15px;
  color: #000;
  border-radius: 0 0 8px 8px;
  background: #fff url(images/arrow.png);
  background-repeat: no-repeat;
  background-position: 94%;
  background-size: 40px;
}
section.container .row .col-sm .infosImg p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
section.container .row .col-sm .infosImg p > b {
  font-size: 1.2rem;
}
section.container .row .col-sm .infosImg p span {
  display: inline-block;
  padding: 2px 5px;
  color: #fff;
  font-size: 0.65rem;
  line-height: normal;
  text-transform: uppercase;
}
section.container .row .col-sm .infosImg p span:first-child {
  background-color: #000;
  margin: 0 15px 0 0;
}
section.container .row .col-sm .infosImg p span:last-child {
  background-color: #bd9c6a;
}

footer.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  background: #333333;
}
footer.container p {
  margin-bottom: 5px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
footer.container p:last-child {
  margin-bottom: 0;
}
footer.container:after {
  display: block;
  content: "";
  background: #ed3323;
  height: 2.5px;
  width: 260px;
  margin: 5px auto;
}

@media screen and (max-width: 990px) {
  section.container {
    max-width: 100%;
  }
  section.container .row {
    margin: 0;
  }
  section.container .row .col-sm {
    flex-basis: auto;
    padding: 0;
    margin: 0 0 30px;
  }
  section.container .row .col-sm .txtImg {
    font-size: 1.5rem;
  }

  footer.container {
    max-width: 100%;
  }
}
@media screen and (device-width: 664px) {
  section.container .row .col-sm {
    flex-basis: auto;
  }
}

/*# sourceMappingURL=index.css.map */
